  <style type="text/css">
  .ctnr {
    font-family: sans-serif;
  }
  #certificate {
    font-family: sans-serif;
    border: 4px solid #cc3300;
    overflow: auto;
    width: 500px;
    margin: 25px auto;
  }
  #certificate #logo {
    float: left;
    display: block;
  }
  #certificate table {
    margin: auto;
    text-align: left;
    font-size: 16px;
  }
  #certificate h1 {
    text-align: center;
    text-transform: uppercase;
    color: #cc3300;
    font-size: 24px;
    margin-bottom: 15px;
  }
  </style>

  <div class="ctnr">
    <div id="certificate">
        <img id="logo" src="https://secure.gravatar.com/avatar/ae1295e0d53f3b81def634344b6644c1?s=170">
      <div id="info">
        <h1>Rails Girls Rome 2013</h1>
        <table cellpadding="5">
          <tr>
            <th>Name:</th>
            <td><%= @certificate.name %></td>
          </tr>
          <tr>
            <th>Email:</th>
            <td><%= @certificate.email %></td>
          </tr>
        </table>
      </div>
    </div>
    <h4 style="text-align:center">
      L'alunna <%= @certificate.name %> ha partecipato all'evento Rails Girls Rome tenutosi il giorno 23 marzo 2013
    </h4>
  </div>
